<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:replace="/fragments/header"></nav>
	<title>New employee</title>
</head>

<body>

<!--	<nav th:replace="layouts :: navbar"></nav>-->
	<nav th:replace="/fragments/nav"></nav>

	<div class="container">
	
		<h4>Employee</h4> <hr>
	
		<a th:href="@{/employees/new}" class="btn btn-primary mb-3">Add Employee</a>
		
				
		<table class="table table-bordered table-stripped">
			<thead class="thead-dark">
				<tr>
					<th>First name</th>
					<th>Last name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text="${emp.firstName}"/>
					<td th:text="${emp.lastName}"/>
				</tr>
			</tbody>
		</table>
	</div>

<footer th:replace="/fragments/foot"></footer>

</body>
</html>