<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/header">
	<title>New project</title>
</head>

<body>

<!--	<nav th:replace="layouts :: navbar"></nav>-->
	<nav th:replace="/fragments/nav"></nav>

	
	<div class="container">
	
		<h4>Project</h4> <hr>
	
		<a th:href="@{/projects/new}" class="btn btn-primary mb-3">Add Project</a>
		
	
		<table class="table table-bordered table-stripped">
			<thead class="thead-dark">
				<tr>
					<th>Project name</th>
					<th>Project stage</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="proj : ${projects}">
					<td th:text="${proj.name}"/>
					<td th:text="${proj.stage}"/>
				</tr>
			</tbody>
		</table>
	</div>

<footer th:replace="/fragments/foot"></footer>

</body>
</html>